{% extends "templates/philosopher/base.html" %}

{% block content %}
<script type="text/javascript" src="/../../../static/js/activitydetail.js"></script>
<div id="activityDetailPage">
	<div>
		<div class="left-board" align="center">
			<table>
			<tbody>
			{% if activity.publishdate %}
				<tr>
					<p>审核通过时间:</p>
				</tr>
				<tr>
					<p>{{ activity.publishdate|date:'Y年m月d日' }}</p>
				</tr>
			{% else %}
				{% if isAdmin %}
				<tr>
					<td><a class="btn btn-success" href="/philosopher/activity/publish/{{ activity.id }}">通过</a></td>
				</tr>
				{% endif %}
			{% endif %}
				<div class="inline-block">

					{% if has_right %}
						<div><a class="btn btn-primary" id="openDialog">人员审核</a></div>
						<div><a class="btn btn-primary" href="/philosopher/activity/edit/{{ activity.id }}">编辑</a></div>
						<div><a class="btn btn-danger" href="/philosopher/activity/delete/{{ activity.id }}">删除</a></div>
					{% elif  isStudent %}
						<div><a class="btn btn-primary" id="openDialog">申请加入</a></div>
					{% endif %}
				</div>

			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8 activityContent">
			<h2 align="center">{{ activity.atname }}</h2>
			<table class="table table-hover table-border">
				<tbody>
				<tr>
					<td width="130">发布者：</td>
					<td> {{ activity.atorganizer  }}</td>
				</tr>
				<tr>
					<td>活动内容：</td>
					<td>{{ activity.atcontent|linebreaks }}</td>
				</tr>
				<tr>
					<td>限制人数：</td>
					<td> {{ activity.numlimit }}</td>
				</tr>
				<tr>
					<td>公益时长：</td>
					<td>{{ activity.athours }}</td>
				</tr>
				<tr>
					<td>申请开始时间:</td>
					<td> {{ activity.applystart|date:'Y年m月d日' }}</td>
				</tr>
				<tr>
					<td>申请结束时间: </td>
					<td>{{ activity.applyend|date:'Y年m月d日' }}</td>
				</tr>
				<tr>
					<td>活动开始时间: </td>
					<td>{{ activity.doingstart|date:'Y年m月d日' }}</td>
				</tr>
				<tr>
					<td>活动结束时间 : </td>
					<td>{{ activity.doingend|date:'Y年m月d日'}}</td>
				</tr>
				<tr>
					<td>备注：</td><td> {{ activity.feedback }}</td>
				</tr>
				<tr>
					<td>创建时间： </td><td>{{ activity.createdate|date:'Y年m月d日'}}</td>
				</tr>
				</tbody>
			</table>
			<img src="{{ activity.getPoster }}" alt = "{{ activity }}">
		</div>
	</div>
	<div id="queneDialog" title="人员审核">
	{% if activity.publishdate %}
		{% if has_right %}
			<div>
				<h5 id="waiting">等待队列（共{{ waitApplications|length }}人）<div class="hint_pic_down"></div></p>
				<div class="waiting-list">
					{% for application in waitApplications %}
					<p><a href="/philosopher/application/detail/{{ application.id }}">{{ application.student.userprofile.schoolID }}@{{ application.student.username }}</a></p>
					{% endfor %}
				</div>
			</div>
			<div>
				<h5 id="accept">通过队列（共{{ passApplications|length }}人）<div class="hint_pic_down"></div></h5>
				<div class="accept-list">
				{% for application in passApplications %}
				<p><a href="/philosopher/application/detail/{{ application.id }}">{{ application.student.userprofile.schoolID }}@{{ application.student.username }}</a></p>
				{% endfor %}
				</div>
			</div>
			<div>
				<h5 id="reject">拒绝队列（共{{ rejectApplications|length }}人）<div class="hint_pic_down"></div></h5>
				<div class="reject-list">
				{% for application in rejectApplications %}
				<p><a href="/philosopher/application/detail/{{ application.id }}">{{ application.student.userprofile.schoolID }}@{{ application.student.username }}</a></p>
				{% endfor %}
				</div>
			</div>
			<div>
				<h5 id="finish">完成队列（共{{ finishApplications|length }}人）<div class="hint_pic_down"></div></h5>
				<div class="finish-list">
				{% for application in finishApplications %}
				<p><a href="/philosopher/application/detail/{{ application.id }}">{{ application.student.userprofile.schoolID }}@{{ application.student.username }}</a></p>
				{% endfor %}
				</div>
			</div>
			<div>
				<h5 id="unfinish"> 没完成队列（共{{ failApplications|length }}人）<div class="hint_pic_down"></div></h5>
				<div class="unfinish-list">
				{% for application in failApplications %}
				<p><a href="/philosopher/application/detail/{{ application.id }}">{{ application.student.userprofile.schoolID }}@{{ application.student.username }}</a></p>
				{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if user.is_authenticated %}
			{% if isStudent %}
				{% if isApplied %}
				已申请: <a href="/philosopher/application/detail/{{ myApplicationId }}">我的申请</a>
				{% else %}
				<h2 align="center">可提交申请</h2>
				<div>
					<table>
						<tr>
							<td width="100">用户ID</td>
							<td>{{ user.id }}</td>
						</tr>
						<tr>
							<td>用户姓名</td>
							<td>{{ user.username }}</td>
						</tr>
						<tr>
							<td>学号</td>
							<td>{{ user.userprofile.schoolID }}</td>
						</tr>
					</table>
				</div>
				<hr>
				 <form action="/philosopher/application/apply/{{ activity.id }}/" method="POST" >
				 	{% csrf_token %}
				 	<div>
				 	<div>
				 	<label for="phone" >手机号码</label>
				 	<input type="text" name="phone" value="{{ user.userprofile.phone }}" class="form-control" />
				 	</div>
					<div>
					<label for="grade">年级</label>
					<select name="grade" class="form-control">
					<option value="a" >大一</option>
					<option value="b" >大二</option>
					<option value="c">大三</option>
					<option value="d">大四</option>
					<option value="e">研究生</option>
					<option value="f">博士生</option>
					</select>
					</div>
					<div>
				 	<label for="applyreason" >申请原因</label>
				 	<textarea rows="4" type="text" name="applyreason" placeholder="请填入申请原因或其他补充信息" class="form-control"></textarea>
				 	</div>
				 	</div>
				 	<input name="submit" type="submit" value="提交申请" class="form-control"/>
				 </form>
				 {% endif %}
			{% else %}
				<p class="font-orange">对不起，你不是学生，无法参加</p>
			{% endif %}
		{% endif %}

	{% endif %}
	</div>

</div>
{% endblock content %}

