{% extends "templates/philosopher/base.html" %}

<!--#0:pass; 1:reject; 2: wait; 3: finish; 4: failed-->
{% block content %}
<div class="left-board" align="center">
	<table>
	<tbody>
	{% if isOwner %}
		<tr><td><a href="/philosopher/application/delete/{{ application.id  }}" class="btn btn-warning">删除申请</a></td></tr>
		<tr><td><a href="/philosopher/application/edit/{{ application.id }}"class="btn btn-primary">编辑</a></td></tr>
	{% endif %}
	{% if has_right %}
		{% if application.apstatus == 2 %}
		<tr><a href="/philosopher/application/handle/1/{{ application.id }}" class="btn btn-primary">拒绝</a></tr>
		<tr><a href="/philosopher/application/handle/2/{{ application.id }}" class="btn btn-primary">通过</a></tr>
		{% elif application.apstatus == 0 %}
		<tr><a href="/philosopher/application/handle/3/{{ application.id }}" class="btn btn-primary">完成</a></tr>
		<tr><a href="/philosopher/application/handle/4/{{ application.id }}" class="btn btn-primary">未完成</a></tr>
		{% endif %}
	{% endif %}
	</tbody>
	</table>
</div>
<div class="row">
	<div class="col-md-offset-2 col-md-8 activityContent">
		<h1 align="center"><a href="/philosopher/activity/detail/{{ activity.id }}">{{ application }}</a></h1>
		<table class="table table-hover table-border">
			<tbody>
	<!--#0:pass; 1:reject; 2: wait; 3: finish; 4: failed-->
				<tr>
				<td>当前状态:</td>
				<td>
				{% if application.apstatus == 0 %}
				通过
				{% elif application.apstatus == 1 %}
				拒绝
				{% elif application.apstatus == 2 %}
				等待
				{% elif application.apstatus == 3 %}
				完成
				{% else %}
				未完成
				{% endif %}
					</td>
				</tr>
				<tr>
				<td>用户ID: </td><td>{{ student.id }}</td>
				</tr>
				<tr>
				<td>学校ID: </td><td>{{ student.userprofile.schoolID }}</td>
				</tr>
				<tr>
				<td>用户名称: </td><td>{{ student.username }}</td>
				</tr>
				<tr>
				<td>成绩:</td>
				<td>{% if application.grade == 'a' %}大一
				{% elif application.grade == 'b' %}大二
				{% elif application.grade == 'c' %}大三
				{% elif application.grade == 'd' %}大四
				{% elif application.grade == 'e' %}研究生
				{% elif application.grade == 'f' %}博士生
				{% else %}错误
				{% endif %}
				</td>
				</tr>
				<tr>
				<td>电话:</td><td> {{ application.phone }}</td>
				</tr>
				<tr>
					<td>审核方回复: </td><td>{{ application.applyreason }}</td>
				</tr>
			</tbody>
		</table>
		</div>
</div>

{% endblock %}