{% extends "templates/philosopher/base.html" %}

{% block content %}
<div class="" id="baseinfoPage">
	<div class="row ">
		<div class="col-md-offset-1 col-md-8">
			<table class="table table-hover">
				<tr>
				<td>ID号:</td><td> {{ nowuser.id }}</td>
				</tr>
				<tr>
				<td>用户账号:</td><td> {{ nowuser.username }}</td>
				</tr>
				<tr>
				<td>邮箱:</td><td> {{ nowuser.email }}</td>
				</tr>
				<tr>
				<td>性别:</td><td>
					{% if nowuserprofile.gender == 'f' %}女
					{% elif nowuserprofile.gender == 'm' %}男
					{% elif nowuserprofile.gender == 'o' %}其他
					{% else %}错误
					{% endif %}
				</td>
				</tr>
				<tr>
				<td>账号状态:</td><td>
					{% if nowuserprofile.status == 'n' %}正常
					{% elif nowuserprofile.status == 'b' %}被拉黑
					{% elif nowuserprofile.status == 'w' %}待批准
					{% else %}错误
					{% endif %}
				</td>
				</tr>
				<tr>
				<td>角色:</td><td>
					{% if nowuserprofile.role == 's' %}学生
					{% elif nowuserprofile.role == 'o' %}组织者
					{% elif nowuserprofile.role == 'a' %}管理员
					{% else %}错误
					{% endif %}
				</td>
				</tr>
				{% block moreinfo %}
				{% endblock moreinfo %}
			</table>
		</div>
		<div class="user-image col-md-2">
			<img src="{{ nowuserprofile.getAvatar }}" alt="{{ nowuser.username }}" title="{{ nowuser.username }}" />
			{% if has_right %}
				<a href="/philosopher/accounts/editinfo/{{ nowuser.id }}" class="btn btn-primary">修改个人信息</a>
			{% endif %}


		</div>
	</div>
	<hr>
	<div>
		{% block subcontent %}
		{% endblock subcontent %}
	</div>
</div>
{% endblock %}