{% extends "templates/philosopher/base.html" %}

{% block content %}
<div id="homepagePage">
		{% for activity in activities %}
	<div class="row">
		<div class="col-md-12">
			<div class="activityContent">
				<h4 class="title">{{activity.atname}}</h4>
				<div class="left_column">
					<img src="{{ activity.getPoster }}" alt="{{ activity }}" title="{{ activity }}" />
				</div>
				<div class="right_column">
					<p class="em06">发起者： {{ activity.atorganizer.username }}</p>
					<p class="descripe">简介：{{ activity.atcontent|truncatechars:40 }}</p>
					<a href="/philosopher/activity/detail/{{ activity.id }}" class="readmore">Read More..</a>
					<p><span id="date">{{ activity.applystart }}</span></p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<hr>
		{% endfor %}
</div>
{% endblock content %}