*.pyc
*/*.pyc
*/*/*.pyc
*~
*/*~
*/*/*~
ActivityManager/settings.py
.codekit-cache/
config.codekit
static/.DS_Store
static/image/.DS_Store
static/js/.DS_Store
static/js/min/activitydetail-min.js
static/css/.sass-cache/f48c2d4700dced1e7a21839ef48310c5bd5a28b5/base.scssc
local_settings.py
philosopher.db
__pycache__
.DS_Store
static/image/mine.png
templates/philosopher/.DS_Store
ActivityManager/__init__.pyc
ActivityManager/settings.pyc
ActivityManager/urls.pyc
ActivityManager/wsgi.pyc
philosopher/__init__.pyc
philosopher/admin.pyc
philosopher/context_processors.pyc
philosopher/forms.pyc
philosopher/models.pyc
philosopher/views/__init__.pyc
philosopher/views/activity.pyc
philosopher/views/application.pyc
philosopher/views/function.pyc
philosopher/views/user.pyc
